@{
	Layout = "_Layout";
}

@model GameDatabase.Models.Developer

<h2 id="title">Developer: <b>@Html.DisplayFor(model => model.Name)</b></h2>

<hr />

@if (Model.Games.Count == 0)
{
	<p>This developer does not have any games.</p>
}
else
{
	<h4><u>Games</u></h4>
	<ul>
		@foreach (var join in Model.Games)
		{
			<li>@Html.ActionLink($"{join.Game.Name}", "Details", "Games", new { id = join.Game.GameId })</li>
		}
	</ul>
}

<hr />

<p>
	@Html.ActionLink("Edit", "Edit", new { id = Model.DeveloperId })
	|
	@Html.ActionLink("Delete", "Delete", new { id = Model.DeveloperId })
	|
	@Html.ActionLink("View all developers", "Index")
	|
	@Html.ActionLink("Go to homepage", "index", "Home")
</p>